<h1>КОЛЁСА</h1>
<br/>

<div class="row" style="background-color: #FAE8BB; padding: 20px;">
	<div class="span7">
		<table>
			<tbody>
				<tr>
					<td>
						<div id="brand">
							<strong>Марка</strong>
							<%= render partial: "models_list", locals: { objects: Brand.all } %>
						</div><br/><br/>

						<div id="model">
							<strong>Модель</strong>
							<div style="display: inline;"></div>
						</div>
						<br/><br/>

						<div id="city">
							<strong>Где искать</strong>
							<%= render partial: "models_list", locals: { objects: City.all } %>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="span4">
		<%= search_form_for @search do |f| %>
		  <%= f.hidden_field :brand_id_eq %>
		  <%= f.hidden_field :model_id_eq %>
		  <%= f.hidden_field :city_id_eq %>

		  <div>
			  <%= f.label :price_gteq, "Цена", style: "font-weight: bold" %>
			  <%= f.text_field :price_gteq, style: "width:70px" %>
			  <%= sign("—") %>
			  <%= f.text_field :price_lteq, style: "width:70px" %>
			  <%= sign("$") %>
			</div>
			<br/><br/>

			<div>
			  <%= f.label :year_gteq, "Год производства", style: "font-weight: bold" %>
			  <%= f.text_field :year_gteq, style: "width:60px" %>
			  <%= sign("—") %>
			  <%= f.text_field :year_lteq, style: "width:60px" %>
			</div>
		  <br/><br/><br/>

		  <%= f.submit 'Найти' %>
		<% end %>		
	</div>
</div><br/>

<% @cars.each do |car| %>
<div class="row" style="margin-bottom: 15px;">
		<div class="span2">
			<a href=<%= car_path(car) %>>
				<%= image_tag car.car_images[0].image_url(:small) unless car.car_images.blank? %>
			</a>
		</div>

		<div class="span6">
			<p><b>
				<a href=<%= car_path(car) %>><%= car.brand.name %> <%= car.model.name %></a>
				<span style="color:#bbbbbb">&nbsp;за&nbsp;</span>
				<span style="color:#009900"><%= car.price %> $</span></b>
				<br/>
				<%= car.year %> г. 
				<br/>
			
				<%= car.body.name %>, 
				<%= car.volume %>л, 
				<%= car.fuel %>, 
				КПП <%= car.transmission %>, 
				<%= car.state %>, 
				<%= car.milage %> км, 
				<%= car.color.name %>, 
				<%= car.description %>
				<br/>
				<%= car.city.name %>
			</p>
		</div>
</div>
<% end %>

<%= will_paginate(@cars) %>

<div style="height:80px;"></div>