<h3>Добавить авто на продажу</h3>
<h5 style="color: #cc0000"><%= flash[:error] %></h5>
<div class="row">
<%= form_for @car, url: car_create_path, html: { multipart: true } do |f| %>
<div class="span12">
	<div class="row">
		<div class="span3">
			<%= f.label :city_id, 'Город *' %>
			<%= f.collection_select :city_id, City.all, :id, :name %>
		</div>
	</div>

	<div class="row">
		<div class="span3">
			<%= f.label :brand_id, 'Марка *' %>
			<%= f.collection_select :brand_id, Brand.all, :id, :name %>
		</div>

		<div class="span3">
			<%= f.label :model_id, 'Модель *' %>
			<%= f.select :model_id, "", {}, disabled: true %>
		</div>
	</div>

	<div class="row">
		<div class="span3">
			<%= f.label :year, 'Год выпуска *' %>
			<%= f.select :year, (1985..Time.now.year).to_a.reverse, selected: 2000 %>
		</div>

		<div class="span3">
			<%= f.label :price, 'Цена *' %>
			<%= f.text_field :price %>			
		</div>
	</div>

	<div class="row">
		<div class="span3">
			<%= f.label :transmission, 'Двигатель *' %>
			<%= f.select :transmission, ["", "АКПП", "механика", "типтроник"] %>			
		</div>

		<div class="span3">
			<%= f.label :fuel, 'Топливо *' %>
			<%= f.select :fuel, ["бензин", "дизель", "газ"] %>			
		</div>

		<div class="span3">
			<%= f.label :volume, 'Объем двигателя *' %>
			<%= f.text_field :volume %>	
		</div>
	</div>

	<div class="row">
		<div class="span3">
			<%= f.label :color_id, 'Цвет *' %>
			<%= f.collection_select :color_id, Color.all, :id, :name %>
		</div>

		<div class="span3">
			<%= f.label :body_id, 'Кузов *' %>
			<%= f.collection_select :body_id, Body.all, :id, :name %>			
		</div>

		<div class="span3">
			<%= f.label :state, 'Состояние *' %>
			<%= f.select :state, ["с пробегом", "без пробега, новый", "на ходу", "аварийное"] %>
		</div>
	</div>

	<div class="row">

		<div class="span3">
			<%= f.label :milage, 'Пробег в км. *' %>
			<%= f.text_field :milage %>	
		</div>

		<div class="span3">
			<%= f.label :wheel, 'Руль *' %>
			<%= f.select :wheel, ["левый", "правый"] %>	
		</div>

		<div class="span3">
			<%= f.label :customs, 'Растаможен в Казахстане?' %>
			<%= f.check_box :customs %>
		</div>
	</div>

	<div class="row">				
		<div class="span3">
			<%= f.label :drive, 'Привод *' %>
			<%= f.select :drive, ["передний", "задний", "полный"] %>	
		</div>

		<div class="span3">
			<%= f.label :phone, 'Контактный телефон *' %>
			<%= f.text_field :phone %>	
		</div>

		<div class="span3">
			<%= f.label :car_images, 'Фотографий *' %>
			<%= f.fields_for :car_images, @car.car_images.build do |forma| %>
				<%= forma.file_field :image, multiple: true %>
			<% end %>			
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<%= f.label :description, 'Дополнительное описание автомобиля' %>
			<%= f.text_area :description, rows: 5, style: "width: 510px" %>
		</div>
	</div>

	<br/>
	<%= f.submit "Добавить авто" %>
</div>
<% end %>
</div><br/><br/>