<!DOCTYPE html>
<html>
<head>
  <title>Kolesa</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">
			<%= flash[:notice] %>
			<div id="user_nav">
			  <% if user_signed_in? %>
			    Вы вошли в сайт как <b><%= current_user.email %></b>.
			    <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
			  <% else %>
			    <%= link_to "Зарегистрироватся", new_user_registration_path %> или <%= link_to "Войти", new_user_session_path %>
			  <% end %>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<%= yield %>		
			</div>
		</div>
	</div>
	<%= yield :javascript %>
</body>
</html>
